/* EventInfo.css */

.event-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    gap :5px;
  }
  .event-details{
    color: #013D7F;
    font-size: 1.2rem;
    padding: 1.5rem 0rem;
  }
  .details{
    display: flex;
    gap: 10px;
    padding:  2px;
  }
  .text-section {
    max-width: 100%;
    text-align: left;

  }
  .text-section>p{
    color: #013D7F;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .guidelines, .terms{
    margin-bottom: 15px;
  }
  .guidelines>h2, .terms>h2{
    color: #013D7F;
    font-weight: 900;
    font-size: 2rem;
  }
  .map-image {
    max-width: 100%;
    border-radius: 10px;
  }
  .second-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width:800px){
    .event-info{
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 500px) {
    .event-info {
      align-items: start;
      padding: 1rem;
    }
    .details{
      gap: 5px;
      text-align:left;
    }
      
      .guidelines>h2, .terms>h2{
        color: #013D7F;
        font-weight: 900;
        font-size: 1.5rem;
      }
  }
  