@tailwind base;
@tailwind components;
@tailwind utilities;
.flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
  }
  
  .paddings {
    padding: 1.5rem;
  }
  .wrapper{
    background-color: white;
  }