/* Overlay.css */

/* The overlay container */
.overlay {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 61%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
  cursor: pointer;
  background-color: #fff;
}

.overlay.visible {
  display: block;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #070707;
  cursor: pointer;
  z-index: 10000;
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  background-image: url("/overlay.webp");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.countdown {
  bottom: 0;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(161, 7, 7);
}

@media screen and (max-width: 768px) {
    .overlay{
        width: 60%;
        height: 50%;
        left: 20%;
    }
    .countdown{
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .overlay{
        width: 70%;
        left: 15%;
        height: 60%;
    }
    .overlay-content{
        
        background-image: url("/overlay_mobile.webp");
        background-size: 80%;
    }
    .countdown{
        font-size: 0.8rem;
    }
}