@import "./app.scss";

.parallax {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        position: relative;
        bottom: 100px;
    }
    .student {
        background-image: url("/mountaincrowd.png");
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;

        @include desktop {
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include tablet {
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include mobile {
            background-size: contain;
            background-repeat: no-repeat;
        }
    }


    .stars {
        background-image: url("/sun.png");
        opacity: 0.7;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 10rem;
        @include desktop{
            top:10rem
        }
        @include tablet{
            top:15rem;
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include mobile {
            top:10rem;
            background-size: contain;
            background-repeat: no-repeat;
        }
        @include s-mobile {
            top:8rem;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    @include mobile{
        height: 50vh;
        img{
            width: 60%;
            bottom: 10px;
        }
    }
    @include s-mobile{
        height: 40vh;
    }
}