.footer {
  background-color: #003366;
  color: white;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  margin: 0;
}

.social-media a {
  color: white;
  margin-left: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .social-media a {
    margin-left: 0;
    margin-top: 5px;
  }
}
