.footer {
  background-color: #003366;
  color: white;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}

.social-media{
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-media>a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons{
  width: 2rem;
}
.footer-content{
  width: 20rem;
}
.footer-content p {
  margin: 0;
}

.social-media a {
  color: white;
  margin-left: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0.55rem 4rem;
  }

  .social-media a {
    margin-left: 0;
    margin-top: 5px;
  }
  .social-icons{
    width: 1.5rem;
  }
}
