.festDate{
    font-weight: 900;
    font-size: xx-large;
    color:#013D7F ;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

@media screen and ( max-width: 500px ){
    .festDate{
        font-size: large;
    }
}