

.navbar {
  background-color:white ;
  color: #003366;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar:nth-child(2) {
  justify-content: center;
}

.logo{
  width: 6rem;
  aspect-ratio: 5/2;
}

.srhulogo{
  height: 50px;
  justify-self: center !important;
}

.srhulogo > img {
  object-fit: contain;
}

.menu-toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #003366;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


@media screen and (max-width: 860px) {
  .navbar{
    padding:1rem;
  }
  .logo{
    width: 6rem;
  }
  
/* .srhulogo{
  width: 8rem;
} */
  .nav-links {
    list-style: none;
    display: none;
    gap: 20px;
  }
  .nav-links.show {
    width: 8rem;
    height: 12rem;
    padding: 1rem;
    position: absolute;
    background: white;
    right: 0rem;
    top: 3.5rem;
    display:flex;
    flex-direction: column;
    z-index: 99;
    border-radius: 0% 0% 10% 10%;
  }
  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
